@font-face {
    font-family: Billion Dreams;
    src: url("./../assets/BillionDreams_PERSONAL.ttf");
    font-size: 100%;
  }

.header {
    width: 100%;
}

.navbar-links {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: #6956a1;
}

.navbar-links:hover {
    color: #BEB1D1;
}

.navbar-brand {
    /* font-size: 50px; */
    color: #F9B9AD;
    font-family: Billion Dreams;
}

.brand.navbar-brand {
    color: #F9B9AD;
    font-size: 50px;
}

.me-auto {
    position: fixed;
    right: 10px;
}

