@font-face {
    font-family: Billion Dreams;
    src: url("./../assets/BillionDreams_PERSONAL.ttf");
    font-size: 100%;
  }

.header {
    width: 100%;
}

.navbar div.container {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-links {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: var(--regal_purple);
    background-color: white;
    width: 125%
}

.drop-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-links:hover {
    color: var(--light_purple);
}

.navbar-brand {
    font-family: Billion Dreams;
}

.brand.navbar-brand {
    font-size: 40px;
}

.me-auto {
    position: fixed;
    right: 10px;
}

span.navbar-text {
    font-size: 15px;
    background-color: #beb1d1b2;
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (min-width: 786px) {
    .brand.navbar-brand {
        font-size: 50px;
    }

    span.navbar-text {
        font-size: 20px;
    }

    .navbar div.container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .brand.navbar-brand {
        font-size: 50px;
    }
}