.header {
    width: 100%;
}

.navbar-links {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: #6956a1;
}

.navbar-links:hover {
    color: #BEB1D1;
}

.navbar-brand {
    font-size: 25px;
    color: #F9B9AD;
}

.brand.navbar-brand {
    color: #F9B9AD;
}

.me-auto {
    position: fixed;
    right: 10px;
}

