.hotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hotel-flight-name.card-title.h5 {
    font-family: Modern Sans Light;
    font-size: 35px;
}

.hotel-flight-name.card-title.h5::first-letter {
    text-transform: uppercase;
}

@media only screen and (min-width: 786px) {

}

@media only screen and (min-width: 1024px) {
    
}