.hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hotel-flight-name.card-title.h5 {
    font-family: Modern Sans Light;
    font-size: 35px;
}

.hotel-flight-name.card-title.h5::first-letter {
    text-transform: uppercase;
}