.card-title.h5 {
    font-family: Billion Dreams;
    font-size: 40px;
}

.home-link {
    color: var(--bold_orange);
}

.plane-wing {
    height: 60vh;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.trip-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}