.card-title.h5 {
    font-family: Billion Dreams;
    font-size: 40px;
    color: var(--coral)
}

.card-title.h5::first-letter {
    text-transform: uppercase;
}

.all-trips {
    background-color: var(--light_purple);
    padding: 10px;
    width: 100%;
    min-height: 78vh;
}

.no-traveller {
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
}

.home-link {
    color: var(--bold_orange);
}

.home-link:hover {
    color: var(--coral)
}

.all-trips h3 {
    color: var(--deep_purple)
}

.plane-wing {
    width: 90%;
    border-radius: 5px;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.trip-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
}

.individual-trip {
    margin: 5px;
}

.individual-trip p.card-text {
    margin-bottom: 0;
    color: var(--deep_purple)
}

.all-trips .current-traveller h1 {
    color: var(--coral)
}

.all-trips h1 {
    color: var(--deep_purple)
}

@media only screen and (min-width: 786px) {
    .plane-wing {
        width: 70%
    }
    .no-traveller {
        width: 60%;
    }
    
}

@media only screen and (min-width: 1024px) {
    
}