h1 {
    color: #F78359;
}

Form {
    text-align: left;
}

.form-container {
   width: 40%;
   margin: 0 auto;
}

.home {
    background-image: url("./../assets/beachplane.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

button.btn.btn-primary {
    color: white;
    background-color: #F78359;
    border: none;
}

.button-link {
    color: white;
    text-decoration: none;
}