h1 {
    color: #F78359;
}

Form {
    margin-left: 5%;
    width: 40%;
    text-align: left;
}

.form-container {
   align-items: center;
}

.home-img {
    /* height: 40vh; */
    width: 100%;
}

.home {
    background-image: url("./../assets/beachplane.png");
    height: 80vh;
}