.about {
    min-height: 78vh;
    background-color: var(--coral);
    border-radius: 5px;
    color: var(--regal_purple);
    padding: 10px;
}

.about .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.about-img {
    width: 75%;
    border-radius: 5px;
}

.about-text {
    width: 75%;
    margin: 0 auto;
}

.about a {
    color: var(--deep_purple)
}

.about a:hover {
    color: var(--bold_orange)
}