.App {
  text-align: center;
}

main {
  margin-top: 100px;
  min-height: 70vh;
}

@font-face {
  font-family: Modern Sans Light;
  src: url("./assets/ModernSans-Light.otf");
  font-size: 100%;
}

* {
  font-family: Modern Sans Light;
}