.App {
  text-align: center;
}

main {
  margin-top: 100px;
  min-height: 70vh;
}

@font-face {
  font-family: Modern Sans Light;
  src: url("./assets/ModernSans-Light.otf");
  font-size: 100%;
}

* {
  font-family: Modern Sans Light;
}

:root {
  --deep_purple: #0f0a44;
  --regal_purple:#6956a1;
  --light_purple: #BEB1D1;
  --coral: #F9B9AD;
  --bold_orange: #F78359;
}