.footer {
    bottom: 0;
    width: 100%;
    color: var(--deep_purple);
    padding: 5px;
}

.footer p {
    margin-bottom: 0;
}

.social-icon {
    padding: 0px 10px;
    font-size: 25px;
    color: var(--regal_purple);
}

.social-icon:hover {
    color: var(--light_purple);
}

@media only screen and (min-width: 786px) {

}

@media only screen and (min-width: 1024px) {
    
}